:root {
    --color-black: #000000;
    --color-blue: #0000AA;
    --color-green: #00AA00;
    --color-cyan: #00AAAA;
    --color-red: #AA0000;
    --color-magenta: #AA00AA;
    --color-brown: #AA5500;
    --color-light-gray: #AAAAAA;
    --color-dark-gray: #555555;
    --color-light-blue: #5555FF;
    --color-light-green: #55FF55;
    --color-light-cyan: #55FFFF;
    --color-light-red: #FF5555;
    --color-light-magenta: #FF55FF;
    --color-yellow: #FFFF55;
    --color-white: #FFFFFF;

    --web-min-width: 1450px;
    --web-min-height: 640px;
}

@font-face {
    font-family: 'PC3K_Alt';
    src: url('../fonts/Px437_Sharp_PC3K_Alt.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM_VGA';
    src: url('../fonts/Web437_IBM_VGA_8x16.woff') format('woff');
}


@font-face {
    font-family: 'MBytePC230';
    src: url('../fonts/Web437_MBytePC230_8x16.woff') format('woff');
}

@font-face {
    font-family: 'UnifontJP';
    src: url('../fonts/UnifontJP.otf') format('opentype');
}

@font-face {
    font-family: 'Nightgazer16';
    src: url('../fonts/Nightgazer16.ttf') format('truetype');
}

@font-face {
    font-family: 'ZhengGeDianHei';
    src: url('../fonts/ZhengGeDianHei-16.ttf') format('truetype');
}

full-width {
    display: inline-block;
    position: relative;
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: MBytePC230;
    font-size: 32px;
    color: var(--color-black);
    min-width: var(--web-min-width);
    min-height: var(--web-min-height);
    user-select: none;
}

span {
    white-space: nowrap;
    flex-shrink: 0;
}

.tab-bar {
    background-color: var(--color-dark-gray);
    width: 100%;
    height: 32px;
    display: flex;
    line-height: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.tab-button-white-bg {
    background-color: var(--color-white);
    display: flex;
}

.tab-button-dark-gray-bg {
    background-color: var(--color-dark-gray);
    display: flex;
}

.tabs {
    display: flex;
}

.top-menu-bar {
    background-color: var(--color-white);
    width: 100%;
    height: 32px;
    display: flex;
    line-height: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.top-menu-bar bright {
    color: var(--color-brown)
}

.top-menu-bar-button-area,
.top-menu-bar-warning-area {
    flex-shrink: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

bright {
    color: var(--color-yellow)
}

.menu-button {
    height: 100%;
    line-height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0 16px;
    margin: 0;
    font: inherit;
    color: var(--color-black);
    flex-shrink: 0;
}

.menu-button bright {
    color: var(--color-brown);
}

.menu-button:hover,
.menu-button.hover {
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.menu-button:active,
.menu-button.pressed {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.menu-button:active bright,
.menu-button.pressed bright {
    color: var(--color-yellow);
}

.menu-button-dark {
    height: 100%;
    line-height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0 16px;
    margin: 0;
    font: inherit;
    color: var(--color-white);
    flex-shrink: 0;
}

.menu-button-dark bright {
    color: var(--color-yellow);
}

.menu-button-dark:hover {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    cursor: pointer;
}

.menu-button-dark:active,
.menu-button-dark.pressed {
    background-color: var(--color-white);
    color: var(--color-black);
}

.menu-button-dark:active bright,
.menu-button-dark.pressed bright,
.menu-button-dark:hover bright {
    color: var(--color-brown);
}


.char-button {
    height: 80px;
    width: 64px;
    font-family: PC3K_Alt;
    line-height: 80px;
    background: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    font: inherit;
    color: var(--color-white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
}

.char-button:hover,
.char-button.active {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    cursor: pointer;
}

.char-button:active,
.char-button.active:active {
    background-color: var(--color-white);
    color: var(--color-black);
}

.char-preview {
    position: absolute;
    top: 14px;
    display: grid;
    grid-template-columns: repeat(8, 2px);
}

.prev-pixel {
    width: 2px;
    height: 2px;
    background-color: currentColor;
}

.char-index {
    line-height: 16px;
    position: absolute;
    bottom: 14px;
    padding: 0 2px;
    font-family: PC3K_Alt;
}

.editor {
    width: 100%;
    height: calc(100% - 32px * 2);
    display: flex;
}

.char-area {
    background-color: var(--color-dark-gray);
    width: 256px;
    height: 100%;
}

.char-button-area {
    width: 256px;
    height: calc(100% - 32px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-shrink: 0
}

.goto {
    background-color: var(--color-dark-gray);
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: var(--color-white);
    display: flex;
}

.goto bright {
    color: var(--color-yellow);
}

.goto .menu-button {
    color: var(--color-white);
    width: 100%;
    text-align: left;
}

.goto .menu-button:hover {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    cursor: pointer;
}

.goto .menu-button:active,
.goto .menu-button.pressed {
    background-color: var(--color-white);
    color: var(--color-black);
}

.goto .menu-button:hover bright,
.goto .menu-button:active bright,
.goto .menu-button.pressed bright {
    color: var(--color-brown);
    cursor: pointer;
}

.canvas-area {
    background-color: var(--color-light-gray);
    width: calc(100% - 64px);
    height: 100%;
}

.canvars-and-help {
    display: flex;
}

.help-text {
    line-height: 32px;
    margin: 0px 0px;
    padding: 32px;
    background-color: var(--color-magenta);
    color: var(--color-white);
    width: fit-content;
    height: fit-content;
    margin: 32px
}

.help-text .menu-button {
    color: var(--color-white);
}

.help-text .menu-button:hover {
    background-color: var(--color-light-magenta);
    cursor: pointer;
}

.help-text .menu-button:active,
.help-text .menu-button.pressed {
    background-color: var(--color-white);
    color: var(--color-black);
}

.help-text .menu-button:active bright,
.help-text .menu-button.pressed bright {
    color: var(--color-brown);
}

.help-text bright {
    color: var(--color-yellow);
}

.help-text p {
    margin: 0;
}

.char-title {
    background-color: var(--color-blue);
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: var(--color-white);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.title-button {
    height: 100%;
    font-family: PC3K_Alt;
    line-height: 100%;
    background: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0px 16px;
    margin: 0px;
    font: inherit;
    color: var(--color-white);
    flex-shrink: 0;
}

.title-button:hover,
.title-button.hover {
    background-color: var(--color-light-blue);
    cursor: pointer;
}

.title-button:hover bright,
.title-button.hover bright {
    color: var(--color-brown);
}

.title-button:active {
    background-color: var(--color-white);
    color: var(--color-black)
}

.title-button:active bright {
    color: var(--color-brown)
}

.title-button.pressed {
    background-color: var(--color-white);
    color: var(--color-black);
}

.title-button.pressed bright {
    color: var(--color-brown);
}

#glyph-dropdown-menu,
#transform-dropdown-menu,
#shift-dropdown-menu,
#change-dropdown-menu {
    background-color: var(--color-blue);
}

#glyph-dropdown-menu .menu-item,
#transform-dropdown-menu .menu-item,
#shift-dropdown-menu .menu-item,
#change-dropdown-menu .menu-item {
    color: var(--color-white);
}

#glyph-dropdown-menu .menu-item bright,
#transform-dropdown-menu .menu-item bright,
#shift-dropdown-menu .menu-item bright,
#change-dropdown-menu .menu-item bright {
    color: var(--color-yellow);
}

#glyph-dropdown-menu .menu-item:hover,
#transform-dropdown-menu .menu-item:hover,
#shift-dropdown-menu .menu-item:hover,
#change-dropdown-menu .menu-item:hover {
    background-color: var(--color-light-blue);
}

#glyph-dropdown-menu .menu-item:hover > bright,
#transform-dropdown-menu .menu-item:hover > bright,
#shift-dropdown-menu .menu-item:hover > bright,
#change-dropdown-menu .menu-item:hover > bright {
    color: var(--color-brown);
}

#glyph-dropdown-menu .menu-item:active,
#glyph-dropdown-menu .menu-item.pressed,
#transform-dropdown-menu .menu-item:active,
#transform-dropdown-menu .menu-item.pressed,
#shift-dropdown-menu .menu-item:active,
#shift-dropdown-menu .menu-item.pressed,
#change-dropdown-menu .menu-item:active,
#change-dropdown-menu .menu-item.pressed {
    background-color: var(--color-white);
    color: var(--color-black);
}

#glyph-dropdown-menu .menu-item:active bright,
#glyph-dropdown-menu .menu-item.pressed bright,
#transform-dropdown-menu .menu-item:active bright,
#transform-dropdown-menu .menu-item.pressed bright,
#shift-dropdown-menu .menu-item:active bright,
#shift-dropdown-menu .menu-item.pressed bright,
#change-dropdown-menu .menu-item:active bright,
#change-dropdown-menu .menu-item.pressed bright {
    color: var(--color-brown);
}

.pixel-canvas {
    display: grid;
    grid-template-columns: repeat(8, 32px);
    grid-template-rows: repeat(16, 32px);
    height: fit-content;
    width: fit-content;
    margin: 32px;
}

.pixel {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}

.pixel-canvas,
.help-text {
    box-shadow: 32px 32px 0 0 var(--color-dark-gray);
}

.tab-bar::-webkit-scrollbar,
.top-menu-bar::-webkit-scrollbar,
.char-title::-webkit-scrollbar,
.char-button-area::-webkit-scrollbar {
    width: 0 !important
}

.preview {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    min-width: var(--web-min-width);
    min-height: calc(var(--web-min-height) - 64px);
    background-color: var(--color-dark-gray);
    z-index: 9999;
    display: none
}

.preview-canvas {
    width: calc(16px * 80);
    height: calc(32px * (25 - 2));
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.hyper-link-button {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: var(--color-light-cyan);
    flex-shrink: 0;
}

.hyper-link-button:hover {
    color: var(--color-cyan);
    cursor: pointer
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    z-index: 20000;
    white-space: nowrap;
    padding: 0;
}

.dropdown-menu.show {
    display: block;
    box-shadow: 32px 32px 0 0 var(--color-dark-gray);
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 0 16px;
    line-height: 32px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    color: var(--color-black);
}

.menu-item bright {
    color: var(--color-brown);
}

.menu-item:hover:not(:has(.menu-item:hover)),
.menu-item.submenu-open {
    background-color: var(--color-light-gray);
}

.menu-item:hover > bright,
.menu-item.submenu-open > bright {
    color: var(--color-yellow);
}

.menu-item:active:not(:has(.menu-item:active)),
.menu-item.pressed {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.menu-item:active:not(:has(.menu-item:active)) > bright,
.menu-item.pressed > bright {
    color: var(--color-yellow);
}

.menu-item.has-submenu > .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--color-white);
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menu-item.has-submenu.submenu-open > .submenu {
    display: block;
    box-shadow: 32px 32px 0 0 var(--color-dark-gray);
}

.settings {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    min-width: var(--web-min-width);
    min-height: calc(var(--web-min-height) - 64px);
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    z-index: 9999;
    display: none
}

.settings button {
    height: 32px;
    line-height: 32px;
}
